@font-face {
    font-family: MedodicaRegular;
    src: url("media/MedodicaRegular.otf") format("opentype");
  
}

html, body {
    overflow: hidden;
  }


#header-img {
    width: 900px;
    height: auto;
    justify-self: flex-start;
}



.side-img {
    display: flex;
    align-items: flex-end; 
    height: 100%; 
    margin-bottom: 100px;
}

#polly-img {
    width: auto;
    height: 80vh;
    align-self: flex-end; 
}

#main-content {
    height: 100vh; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative; 
}

.vertical-content {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: space-around;
    align-items: center;
    height: 90vh; 
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 0px;

}


body {
    font-family: MedodicaRegular;
    background-color: #aecddd;
    background-image: url("media/snow-bg-take2.png");
    background-size:contain;
  }


  #time-q {
    font-size: 64px;
    margin: 0px;
  }

  #activity-msg {
    font-size: 64px;
    margin: 0px;
  }

  .prompt {
    height: 70px;
    margin-bottom: 20px;
  }


 
  #start-btn {
    margin-top: 30px;
    color: white;
    width: 285px;
    height: 155px;
    background-image: url("media/thin-btn.png");
    background-color: transparent;
    background-size: 100% 100%; 
    background-position: bottom center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: none;
    text-align: center;
    font-family: MedodicaRegular;
    font-size: 50px;
    color: white;

}


#start-btn:hover {
    background-image: url("media/thin_impressed.png");
    background-size: 100% 90%; 
    background-position: bottom center; 
    padding-top: 17px; 
    
}

#pause-btn {
    display: none;
}



#next-btn {
    width: 155px;
    height: 105px;
    background-image: url("media/next-btn.png");
    background-color: transparent;
    background-size: 100% 100%; 
    background-position: bottom center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: none;
    text-align: center;
    font-family: MedodicaRegular;
    font-size: 50px;
    color: white;
    padding-bottom: 20px;
    position:absolute;
    right: 100px;
    bottom: 30px;


}



#next-btn:hover {
    background-image: url("media/next-btn-impressed.png");
    background-size: 100% 90%; 
    background-position: bottom center; 
}

#breaktime-btns {
    margin-top: 30px;
    display: none;
    justify-content: space-between;
    width: 900px;
    height: 190px;
    font-size: 93px;
    color: white;
}

#worktime-btns {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 190px;
    font-size: 93px;
    color: white;
     
}

#activity-msg {
    display: none;
}

#timer-inlay {
    margin-top: 30px;
    display: none;
    background-image: url("media/timer-inlay.png");
    width: 645px;
    height: 280px;
    background-color: transparent;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: MedodicaRegular;
    font-size: 50px;
    align-items: center;

}

#timer {
    margin: 0px;
    color: white;
    font-size: 210px;
    display: none;
    align-self: center;
    margin-top: 30px;
}

.break-btn {
    width: 260px;
    height: 190px;
    background-image: url("media/thick-btn.png");
    background-color: transparent;
    background-size: 100% 100%; 
    background-position: bottom center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: MedodicaRegular;
    font-size: 93px;
    color: white;
}


.break-btn:hover {
    background-image: url("media/thin_impressed.png");
    background-size: 100% 90%; 
    background-position: bottom center; 
    padding-top: 17px;
}

.work-btn {
    width: 260px;
    height: 190px;
    background-image: url("media/thick-btn.png");
    background-color: transparent;
    background-size: 100% 100%; 
    background-position: bottom center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: MedodicaRegular;
    font-size: 93px;
    color: white;

}
  

.work-btn:hover {
    background-image: url("media/thick_impressed.png");
    background-size: 100% 90%; 
    background-position: bottom center;
    padding-top: 17px;
}


